/* Hide the main player */
#main-panel {
    display: none;
}

/* Set no max width for queue so that it's always full screen */
#side-panel {
    max-width: none;
}

/* adjust queue position */
ytmusic-player-page#player-page {
    --ytmusic-player-page-vertical-padding: 0px;
    --ytmusic-player-page-horizontal-padding: 0px;
    --ytmusic-player-page-content-gap: 20px;
    --ytmusic-player-page-side-panel-width: 100%;
}

/* Lock like-button-renderer inline-block */
ytmusic-like-button-renderer {
    display: inline-block !important;
}
